<div class="container" style="width:20rem">
    <div class="row m-auto">
        <input type="text" class="form-control col-12 text-right">
    </div>
    <div class="row m-auto pt-1">
        <div class="col-3 p-0 pr-1">
            <button type="button" class="btn btn-secondary btn-block"><</button>
        </div>
        <div class="col-3 p-0 pr-1">
            <button type="button" class="btn btn-secondary btn-block">e</button>
        </div>
        <div class="col-3 p-0 pr-1">
            <button type="button" class="btn btn-secondary btn-block">c</button>
        </div>
        <div class="col-3 p-0">
            <button type="button" class="btn btn-secondary btn-block">±</button>
        </div>
    </div>
    <div class="row m-auto pt-1">
        <div class="col-3 p-0 pr-1">
            <button type="button" class="btn btn-secondary btn-block">7</button>
        </div>
        <div class="col-3 p-0 pr-1">
            <button type="button" class="btn btn-secondary btn-block">8</button>
        </div>
        <div class="col-3 p-0 pr-1">
            <button type="button" class="btn btn-secondary btn-block">9</button>
        </div>
        <div class="col-3 p-0">
            <button type="button" class="btn btn-secondary btn-block">/</button>
        </div>
    </div>
    <div class="row m-auto pt-1">
        <div class="col-3 p-0 pr-1">
            <button type="button" class="btn btn-secondary btn-block">4</button>
        </div>
        <div class="col-3 p-0 pr-1">
            <button type="button" class="btn btn-secondary btn-block">5</button>
        </div>
        <div class="col-3 p-0 pr-1">
            <button type="button" class="btn btn-secondary btn-block">6</button>
        </div>
        <div class="col-3 p-0">
            <button type="button" class="btn btn-secondary btn-block">x</button>
        </div>
    </div>
    <div class="row m-auto pt-1">
        <div class="col-3 p-0 pr-1">
            <button type="button" class="btn btn-secondary btn-block">1</button>
        </div>
        <div class="col-3 p-0 pr-1">
            <button type="button" class="btn btn-secondary btn-block">2</button>
        </div>
        <div class="col-3 p-0 pr-1">
            <button type="button" class="btn btn-secondary btn-block">3</button>
        </div>
        <div class="col-3 p-0">
            <button type="button" class="btn btn-secondary btn-block">-</button>
        </div>
    </div>
    <div class="row m-auto pt-1">
        <div class="col-3 p-0 pr-1">
            <button type="button" class="btn btn-secondary btn-block">0</button>
        </div>
        <div class="col-3 p-0 pr-1">
            <button type="button" class="btn btn-secondary btn-block">.</button>
        </div>
        <div class="col-3 p-0 pr-1">
            <button type="button" class="btn btn-outline-primary btn-block">=</button>
        </div>
        <div class="col-3 p-0">
            <button type="button" class="btn btn-secondary btn-block">+</button>
        </div>
    </div>
</div>